In [3]:
from pyspark.sql import SparkSession

In [16]:
from pyspark.sql.functions import sum, col, expr, round, avg, min, max

In [4]:
spark = SparkSession.builder.appName("SparkSalesAnalytics").getOrCreate()

In [17]:
sales_data = './data/output/sales/'
partition = "ReportYear=2019"
full_path = f"{sales_data}{partition}"

In [18]:
sales_df = spark.read.parquet(full_path)

In [19]:
sales_df.show(5)

+-------+--------------------+--------+------+-------------------+--------------------+--------------+-----+
|OrderID|             Product|Quantity| Price|               Date|        StoreAddress|          city|Month|
+-------+--------------------+--------+------+-------------------+--------------------+--------------+-----+
| 295665|  Macbook Pro Laptop|       1|1700.0|2019-12-30 00:01:00|136 Church St, Ne...| New York City|   12|
| 295666|  LG Washing Machine|       1| 600.0|2019-12-29 07:03:00|562 2nd St, New Y...| New York City|   12|
| 295667|USB-C Charging Cable|       1| 11.95|2019-12-12 18:21:00|277 Main St, New ...| New York City|   12|
| 295668|    27in FHD Monitor|       1|149.99|2019-12-22 15:13:00|410 6th St, San F...| San Francisco|   12|
| 295669|USB-C Charging Cable|       1| 11.95|2019-12-18 12:38:00|43 Hill St, Atlan...|       Atlanta|   12|
+-------+--------------------+--------+------+-------------------+--------------------+--------------+-----+
only showing top 5 rows

In [33]:
sales_df.describe().show()

+-------+------------------+------------+------------------+-----------------+--------------------+--------+-----------------+
|summary|           OrderID|     Product|          Quantity|            Price|        StoreAddress|    city|            Month|
+-------+------------------+------------+------------------+-----------------+--------------------+--------+-----------------+
|  count|            185916|      185916|            185916|           185916|              185916|  185916|           185916|
|   mean|230403.54652638827|        null|1.1243679941478948|184.3877186919003|                null|    null|7.060247638718561|
| stddev|51506.924899000325|        null|0.4427493862337555|332.7224254127542|                null|    null|3.502357746207615|
|    min|            141234|20in Monitor|                 1|             2.99|1 11th St, Atlant...| Atlanta|                1|
|    max|            319670|      iPhone|                 9|           1700.0|999 Wilson St, Sa...| Seattle|               12|
+-------+------------------+------------+------------------+-----------------+--------------------+--------+-----------------+

In [ ]:
sales_df.filter()

In [30]:
sales_df.groupBy("Month").agg(sum((col("Quantity") * col("Price"))).alias("Total_quantity_sold")).orderBy("Total_quantity_sold", ascending=False).show(5)

+-----+-------------------+
|Month|Total_quantity_sold|
+-----+-------------------+
|   12|   4613443.31607008|
|   10|  3736726.860444069|
|    4| 3390670.2231714725|
|   11|  3199603.184257984|
|    5| 3152606.7349271774|
+-----+-------------------+
only showing top 5 rows

In [9]:
sales_df.printSchema()

root
 |-- OrderID: integer (nullable = true)
 |-- Product: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- Price: float (nullable = true)
 |-- Date: timestamp (nullable = true)
 |-- StoreAddress: string (nullable = true)
 |-- city: string (nullable = true)
 |-- Month: integer (nullable = true)

In [32]:
sales_df.groupBy("city").agg(sum("Quantity").alias("total_quantity")).orderBy("total_quantity", ascending=False).show(5)

+--------------+--------------+
|          city|total_quantity|
+--------------+--------------+
| San Francisco|         50226|
|   Los Angeles|         33288|
| New York City|         27916|
|        Boston|         22524|
|        Dallas|         16728|
+--------------+--------------+
only showing top 5 rows